nav {
    margin: 1rem 0 2rem;
    padding: 0.7rem;
    display: flex;
    justify-content: space-between;
    box-shadow: #bd91f3 0px 3px;
    background-color: #f0f0f0a2;

}

nav a {
    margin: 0 5px;
    padding: 5px;
    text-decoration: none;
    color: #fff;
}

nav .nav_links {
    margin: auto 1rem;
}

nav .nav_links .link {
    border-radius: .2rem;
    border: 2px solid #bd91f3;
    background-color: transparent;
    color: #bd91f3;
}

nav .nav_links .link_home:hover {
    border: 2px solid #946ec4;
}

nav .nav_links .link_cadastrar:hover {
    border: 2px solid #46d4a4;
}

nav .nav_links .link_login:hover {
    border: 2px solid #3799b6;
}