.register {
    justify-content: center;
}

.register .form_register {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    padding: 1.5rem;
    max-width: 60%;
    min-height: 20rem;
    border-radius: .2rem;
    box-shadow: #ccc 2px -2px, #ccc -2px 3px;

}

.register .form_register label {
    display: flex;
    flex-direction: column;
    margin: .2rem 0;
    padding: .2rem 0;
}

.register .form_register input {
    padding: .4rem .6em;
    border: 1px solid;
    border-radius: .2rem;
}

.register .form_register .btn_cadastrar {
    border: 2px solid #946ec4;
    color: #946ec4;
    background-color: transparent;
}
