.register {
    justify-content: center;
}

.register .form_register {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    text-align: center;
    max-width: 60%;
    min-width: 40%;
    min-height: 20rem;
    border-radius: .2rem;
    box-shadow: #ccc 2px -2px, #ccc -2px 3px;

}

.register .form_register label {
    margin: .2rem;
    padding: .2rem;
}

.register .form_register label input {
    margin: 0 .5rem;
    padding: .4rem 3rem;
    border: 1px solid;
    border-radius: .5rem;
}

.register .form_register .btn_cadastrar {
    padding: 4px;
}
